
<link href="resources/css/Youtube.css" rel="stylesheet">

<div id="player">
    <div id="placeholder"></div>
</div>
<div id="playlist">

    <p id="current" ng-show="youtube.videoTitle">{{ youtube.videoTitle }} requested by {{youtube.uploader}} <span class="pull-right"> {{formatDuration(youtube.duration) }}</span></p>
    <ol id="upcoming" data-ng-show="playlist">
        <li data-ng-repeat="video in upcoming">
            <p class="item-delete" data-ng-click="delete('upcoming', video)">delete</p>
            <p class="item-title" data-ng-click="launch(video)">{{video.title}} - {{video.uploader}}</p>
        </li>
    </ol>
    <ol id="history" data-ng-hide="playlist">
        <li data-ng-repeat="video in history">
            <p class="item-delete" data-ng-click="delete('history', video)">delete</p>
            <p class="item-title" data-ng-click="queue(video)">{{video.title}} - {{video.uploader}}</p>
        </li>
    </ol>
    <p id="tabs">
        <a ng-class="{on:playlist}" data-ng-click="tabulate(true)">Upcoming</a>
        <a ng-class="{on:!playlist}" data-ng-click="tabulate(false)">History</a>
    </p>
</div>

