<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-4">

            <carousel data-ng-click="showItem(item)" id="project-carousel" interval="4000">
                <slide ng-repeat="slide in item.images" active="slide.active">
                    <img ng-src="{{slide.image}}" style="margin:auto;">
                    <div class="carousel-caption">
                        <p>{{slide.text}}</p>
                    </div>
                </slide>
            </carousel>


        </div>
        <div class="col-xs-8">
            <h3 style="margin-top: 0.5em;">
                <a data-ng-click="showItem(item)"
                   data-ng-bind="item.name"
                   style="cursor: pointer;"></a>
            </h3>
            <p data-ng-bind="item.blurb"></p>
            <p>
                <a data-ng-click="showItem(item)"
                   class="btn btn-default"
                   title="Take a peek">
                    <img ng-src="{{item.iconImage}}" alt="{{item.name}}" class="palepail-icon"> Take a Peek
                </a>
            </p>
            <p>
                 <span class="badge" data-ng-repeat="tag in item.tags" style="margin-right: 4px;"
                       data-ng-class="{'badge-language': technology.type === 'language',
                                                'badge-framework': technology.type === 'framework'}">
                    {{ tag }}
                </span>
            </p>
        </div>
    </div>
</div>