<div class="row">
    <div class="palepail-content">
        <h1>Things in the Sandbox</h1>

        <hr>
        <div class="row">
            <div data-ng-repeat="item in sandbox">
                <div data-item-card
                     data-item="item">
                </div>
                <div class="col-xs-12">
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>