<div class="row">
    <div class="palepail-content">
        <h1>Basic Example</h1>

        <div id="react-container">
            <p>
                To install React, follow the instructions on
                <a href="https://github.com/facebook/react/">GitHub</a>.
            </p>

            <p>
                If you can see this, React is not working right.
                If you checked out the source from GitHub make sure to run <code>grunt</code>.
            </p>
        </div>
        <h4>Example Details</h4>

        <p>This is written in vanilla JavaScript (without JSX) and transformed in the browser.

        <p>

        <p>
            Learn more about React at
            <a href="https://facebook.github.io/react" target="_blank">facebook.github.io/react</a>.
        </p>
        <script src="modules/sandbox/react/resources/js/reactjs/react-with-addons.min.js"></script>
        <script src="modules/sandbox/react/resources/js/reactjs/JSXTransformer.js"></script>
        <script src="modules/sandbox/react/IndexScript.js"></script>

    </div>

</div>