<div class="row">
    <div class="palepail-content">
        <h1>Contact Me</h1>
        <hr>
        <div class="row">
            <div class="palepail-center">
               Hey, if you are interested in contacting me you can do so at one of several places.

            <ul class="palepail-noBullet palepail-large">
                <li><a href="mailto:derek.a.kam@gmail.com"><span class="fa fa-envelope"></span>Email - derek@palepail.com</a></li>
                <li><a href="https://github.com/palepail" target="_blank"><span class="fa fa-github"></span>Github - palepail</a></li>
                <li><a href="https://www.linkedin.com/profile/view?id=147008318" target="_blank"><span class="fa fa-linkedin"></span>LinkedIn</a></li>
            </ul>
            </div>
        </div>
    </div>
</div>