<div class="row">
<div class="palepail-content">
    <h3>{{resume.ContactInfo.firstName}} {{resume.ContactInfo.lastName}}</h3>

    <div class="palepail-resume-address">
        {{resume.ContactInfo.streetAddress}},
        {{resume.ContactInfo.cityAddress}}
        {{resume.ContactInfo.stateAddress}},
        {{resume.ContactInfo.postalCode}}
    </div>
    <div><span class="fa fa-envelope"></span>{{resume.ContactInfo.emailAddress}} <span class="fa fa-phone"></span>{{resume.ContactInfo.phoneNumber
        | tel}}
    </div>

    <br/>

    <div>
        <h4>
            {{resume.Experience.title}}
        </h4>
        <hr class="palepail-hr">

        <div class="palepail-resume-content container">

            <div class="col-xs-12">
                <ul>
                    <li ng-repeat="experience in resume.Experience.experience">{{experience}}</li>
                </ul>
            </div>
        </div>
    </div>


    <div>
        <h4>
            {{resume.Employment.title}}
        </h4>
        <hr class="palepail-hr">

        <div class="palepail-resume-content container" ng-repeat="job in resume.Employment.jobs">
            <div class="col-xs-12">
                <h5>
                    {{job.company}}
                </h5>

                <div>
                    <span class="col-xs-4 text-left">{{job.position}}</span>
                    <span class="col-xs-4 text-center">{{job.location}}</span>
                    <span class="col-xs-offset-2 col-xs-offset-2 text-left">{{job.startDate | date:"MM/yyyy" }} - {{job.endDate | date:"MM/yyyy"}}</span>
                </div>
            </div>
            <div class="col-xs-12">
                <ul>
                    <li ng-repeat="experience in job.responsibilities">{{experience}}</li>
                </ul>
            </div>
        </div>
    </div>

    <div>
        <h4>
            {{resume.Education.title}}
        </h4>
        <hr class="palepail-hr">

        <div class="palepail-resume-content container" ng-repeat="degree in resume.Education.degrees">
            <div class="col-xs-12">
                <div>
                    <span class="col-xs-3">

                        {{degree.degree}}
                    </span>

                   <span class="col-xs-offset-7 col-xs-2 text-left">{{degree.completionDate | date:"MM/yyyy"}}</span>
                </div>
                <div class="col-xs-12">
                    <span>
                        {{degree.major}}
                    </span>
                    <span>Major GPA: {{degree.GPA}}</span>

                </div>
                <div class="col-xs-12">
                    {{degree.school}}, {{degree.city}}, {{degree.state}}
                </div>

            </div>


        </div>
    </div>

</div>
</div>