
<nav data-ng-controller="NavigationController as navCtrl" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{ applicationName }} </a>
        </div>

        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li data-ng-class="{navigationActive:isActive('/projects')}"><a href="#/projects"><span class="fa fa-folder-open"></span> Projects</a></li>
                <li data-ng-class="{navigationActive:isActive('/palebot')}" data-ng-click="twitchLogin()"><a><span class="fa fa-meh-o"></span> Palebot</a></li>
                <li data-ng-class="{navigationActive:isActive('/resume')}"><a href="#/resume"><span class="fa fa-briefcase"></span> Resume</a></li>
                <li data-ng-class="{navigationActive:isActive('/contact')}"><a href="#/contact"><span class="fa fa-envelope"></span> Contact</a></li>
            </ul>
        </div>
    </div>

</nav>
