<div class="modal-header">
    <h3 class="modal-title">Login to Twitch</h3>
</div>
<div class="modal-body">
Logging in will give you the option of having palebot join your twitch chat room.
<img src="resources/images/TwitchLogin.png" data-ng-click="twitchLogin()"/>

</div>
<div class="modal-footer text-center">
    <div class="btn btn-link pull-left" ng-click="cancel()">Cancel</div>
</div>