.palepail-maxHeight{
    height: calc( 100% - 51px ) ;
}
.palepail-container{
    margin-bottom: 100px;
    padding-top: 51px;
    background-color: transparent;

}
.palepail-container .row{
    width: 100%;
}
.palepail-whisper{
    color: #808080;
    font-size: xx-small;
    font-style: italic;
}
.palepail-content{
    margin-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width:80%;
    overflow: hidden;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: white;
    border-radius: 15px;

}

.palepail-resume-address{
    text-align:left;
}
.palepail-command-indent{
    margin-left: 37px;
}
.palepail-hr{
    width:90%;
    border-color: #888888;
}
.palepail-noBullet > li{

    list-style-type: none;
}

.palepail-footer{
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    background-color: white;
}
.palepail-large{
    font-size: xx-large;
}

.palepail-center{
    text-align:center;
}
.palepail-vertical-spacer{
    margin-top:15px;
}
.palepail-vertical-padding{
    padding-top:15px;
    padding-bottom: 15px;
}

.palepail-music{
    bottom: 70px;
    position: fixed;
}
.palepail-icon{

    width: 20px;
    height: 20px;
}

.palepail-errorTitle{
    color: #b22222;
    font-size:2500%;
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
}

.splash-content{
    background-image: url("../images/pattern.png");
}

#palepail-splash-Jumbotron{
    padding-top: 20px;
    margin-bottom: 0px;
}
#palepail-content{
    margin-top: 51px;
    height:100%;

}
#splash-carousel .carousel-inner{
    height: 339px;
}

#splash-carousel .carousel-inner>.active{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#splash-carousel .carousel-inner>.next,
#splash-carousel .carousel-inner>.prev{
    top: 50%;
    transform: translateY(-50%);
}
.tab-pane{
    background: #ffffff;
    border: 1px solid #ddd;
    border-top-color: transparent;
}
.cheatMode{

    background-image: url("../images/Bucket.png") !important;
}
.cheatMode .jumbotron{

    background-color: transparent !important;
}

.cheatMode .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{

    background-color: white;
}
.cheatMode .nav-tabs>li>a {
    background-color: lightgray;
}

.palepail-cancelCheat{
   height:33px;  
   position:fixed;
    right: 0px;
    
}
.keyword{
    font-weight: bold;
}
.language{
    font-weight: bold;
}


