

#player, #playlist{ background: white; overflow: hidden; width: 640px;}

#player{ background: black; height: 360px;}

#playlist{ background: #22242a; color: #727785; font-size: 12px; height: 464px; overflow-x: hidden;  width: 640px;}
#current{ color: white; font-size: 15px; padding: 20px;}
#playlist ol, #playlist li{ cursor: pointer;}
#playlist ol{ border-bottom: 1px solid #33363f; height: 340px; overflow-x: hidden;}
#playlist li{ border-top: 1px solid #33363f; cursor: pointer;}
#history li{ color: #33522d;}
.item-title{ margin-right: 80px; padding: 10px 20px;}
.item-title:hover{ background: #1171A2; color: white;}
.item-delete{ color: #ac0809; float: right; text-align: center; padding: 10px 0; width: 80px;}
.item-delete:hover{ background: #ac0809; color: white;}
#history .item-title:hover{ background: #33522d; color: white;}
#tabs, #tabs a{ background: #333; height: 64px; left: 0; line-height: 64px; position: absolute; text-align: center; width: 100%;}
#tabs{ bottom: 0; width: inherit; margin-left: 15px}
#tabs a{ color: #666; width: 50%;}
#tabs a:last-child{ left: 50%;}
#tabs .on{ background: #22242a; color: white;}

::-webkit-input-placeholder{ color: #df1f1f;}
:-moz-placeholder{ color: #df1f1f;}
::-moz-placeholder{ color: #df1f1f;}
:-ms-input-placeholder{ color: #df1f1f;}