<div class="col-xs-12 col-md-4">

    <carousel id="splash-carousel"interval="4000">
        <slide ng-repeat="slide in tab.slides" active="slide.active">
            <img ng-src="{{slide.image}}" data-ng-click="showProject(slide)" style="margin:auto;">
            <div class="carousel-caption">
                <p>{{slide.text}}</p>
            </div>
        </slide>
    </carousel>
</div>
<div class="col-xs-12 col-md-8">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h3>These are a few of the Personal Projects I have worked on</h3>
            <dl class="dl-horizontal text-left" data-ng-repeat="project in projects">
                <dt>{{project.name}}</dt>
                <dd>{{project.blurb}}</dd>
            </dl>
            <a href="#/projects" class="btn btn-default btn-lg stackable"><span class="fa fa-folder-open"></span> See My Projects</a>
        </div>
    </div>
</div>
