<div class="col-xs-12 col-md-4">
    <img class="img-rounded img-responsive center-block" src="resources/images/pail0.jpg" />
</div>
<div class="col-xs-12 col-md-8" >
    <div class="row" >
        <div class="col-xs-12 text-center">
            <h1>The Sandbox</h1>
            <h3>The sandbox is where I test out new technology. Each Item is independent from the rest of the application and other items, but still lives in the angular framework.</h3>
            <p>Currently trying <span class="keyword">ReactJS</span></p>
            <a href="#/sandbox" class="btn btn-default btn-lg stackable"><span class="fa fa-cube"></span> Visit Sandbox</a>
        </div>
    </div>
</div>
