<div class="col-xs-12 col-md-4">
    <img class="img-rounded img-responsive center-block" src="resources/images/pail0.jpg" />
</div>
<div class="col-xs-12 col-md-8" >
    <div class="row" >
        <div class="col-xs-12 text-center">
            <h3>palepail.com is created and maintained by me, Derek Kam</h3>
            <p>I am a software developer in Kailua, Hawaii.</p>
            <br/>
            <p>No pails are sold at this site. Nor are pale pails sold here.<br/>
                If you are seeking to purchase a pail or a pale pail, please be redirected to <a href="http://www.amazon.com/s/ref=nb_sb_noss_2?url=search-alias%3Daps&field-keywords=pail">Amazon.com</a> (No Affiliation) </p>

            <a href="#/projects" class="btn btn-default btn-lg stackable"><span class="fa fa-folder-open"></span> See My Projects</a>
            <a href="#/resume" class="btn btn-default btn-lg stackable"><span class="fa fa-briefcase"></span> See My Resume</a>
            <a href="#/contact" class="btn btn-success btn-lg stackable"><span class="fa fa-envelope"></span> Contact Me</a>
        </div>
    </div>
</div>
