<div id="palepail-splash-Jumbotron" class="jumbotron">
    <div class="container">
        <div class="row">

            <div class="col-xs-12">
                <tabset>
                    <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active">
                        <div class="container palepail-vertical-padding">
                            <div data-ng-include="tab.template"></div>
                        </div>
                    </tab>
                </tabset>

            </div>
        </div>
    </div>
</div>

<div class="palepail-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <h3>Stuff I've done</h3>



                    <p>
                        I have created several enterprise systems for the State of Hawaii, including <span class="keyword">SharePoint InfoPath</span>
                        forms and a time and leave system.
                    </p>

                    <p>
                        These systems were made with languages including <span class="keyword">HTML</span>, <span
                            class="keyword">CSS</span>, <span class="keyword">Javascript</span>,
                        <span class="keyword">Java</span>, <span class="keyword">C#</span>, and frameworks like <span
                            class="keyword">AngularJS</span>, <span class="keyword">SharePoint</span>, and <span
                            class="keyword">ASP.NET MVC</span>.
                    </p>

                    <p>
                        I've used the <span class="keyword">Java EE</span> stack with <span class="keyword">Hibernate ORM</span>,
                        and <span class="keyword">REST web services</span> to develop modular, maintainable, secure,
                        database-driven back-ends to support the myriad of business rules that govern enterprise
                        operations. I've worked with various application servers including <span
                            class="keyword">JBoss</span>, <span class="keyword">Websphere</span>, and <span
                            class="keyword">Liberty Profile</span>, and database servers including <span
                            class="keyword">DB2</span>, <span class="keyword">SQLite</span>, and <span class="keyword">MySQL</span>.

                    </p>

                    <p>
                        Using <span class="keyword">Umbraco</span> I created client-minded websites with a focus on ease of use and
                        customizability.
                    </p>

                    <p class="palepail-whisper">
                        PS. Try the Konami code
                    </p>
                </div>
                <div class="col-md-4 text-center hidden-xs">
                    <br/>
                    <br/>
                    <span class="fa fa-code fa-4x" style="font-size: 12em;"></span>
                </div>
            </div>
        </div>
    </div>
</div>


