<!DOCTYPE html>
<html data-ng-app="com.palepail.website"
      data-ng-controller="AppController" class="palepail-maxHeight" ng-class="cheatMode ? 'cheatMode' : ''">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon"
          type="image/png"
          href="favicon.ico">

    <title>palepail.com {{ getPageTitle() ? ' | ' + getPageTitle() : ''}}</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--AngularJS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-sanitize.min.js"></script>
    <script src="resources/js/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <script src="resources/js/ui-utils.min.js"></script>
    <script src="resources/js/ui-router-v0.2.11.min.js"></script>

    <!--Twitch Library-->
    <script src="resources/js/twitch/twitch.js"></script>

    <!--Moment.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>

    <!--Countdown.js-->
    <script src="resources/js/moment-duration-format.js"></script>

    <!--App Script Files-->
    <script src="palepail_website.min.js"></script>


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="resources/css/application.css" rel="stylesheet">
</head>
<body class="palepail-container">
<div>


        <div class="btn btn-danger palepail-cancelCheat" ng-show="cheatMode" ng-click="cheatMode=false">
            <span class="fa fa-ban"></span>
        </div>

    <div data-ng-include data-src="'modules/navigation/NavigationView.html'"></div>
    <div data-ui-view></div>

    <div data-ng-include data-src="'modules/footer/FooterView.html'"></div>


</div>

</body>
</html>
