<div class="row">
<div class="palepail-content">
    <h1>Personal Projects</h1>
    <hr>
    <div class="row">
        <div data-ng-repeat="project in projects">
            <div data-project-card
                 data-project="project">
            </div>
            <div class="col-xs-12">
                <hr>
            </div>
        </div>
    </div>
</div>
</div>