<div class="palepail-content">
    <div>
        <div class="row" style="margin-top: 1em;">
            <div class="col-xs-12 col-md-5">
                <h1>{{ project.name }}
                    <br/>
                    <span class="small">{{ project.dateStarted }}</span> <span class="small" data-ng-if="project.dateStarted && project.dateCompleted"> - </span><span class="small" data-ng-if="project.dateCompleted">{{ project.dateCompleted }}</span>
                </h1>
                <span class="badge" data-ng-repeat="status in project.statuses" style="margin-right: 4px;"
                      data-ng-class="{'badge-production': status.name === 'In Production',
                                        'badge-personal': status.name === 'Personal',
                                        'badge-work': status.name === 'Work',
                                        'badge-school': status.name === 'School',
                                        'badge-completed': status.name === 'Completed',
                                        'badge-developing': status.name === 'Actively Developed',
                                        'badge-cancelled': status.name === 'Cancelled'
                                        }">
                    {{ status.name }}
                </span>
                <br/>
                <br/>
                <a data-ng-if="project.liveLink" data-ng-href="{{ project.liveLink }}" class="btn btn-default"><span class="fa fa-lg fa-desktop"></span> View Demo</a>
                <a data-ng-if="project.downloadLink" data-ng-href="{{ project.downloadLink }}" class="btn btn-default"><span class="fa fa-lg fa-download"></span> Download</a>
                <a data-ng-if="project.sourceLink" data-ng-href="{{ project.sourceLink }}" class="btn btn-default"><span class="{{ project.sourceHostIcon }}"></span> View Source Code</a>
            </div>
            <div class="col-xs-12 col-md-7">
                <div data-carousel interval="3000">
                    <div data-slide
                         data-ng-repeat="image in project.images" style="overflow: hidden;"
                         data-ng-if="!image.isThumbnail">
                        <img data-ng-src="{{ imagePath + image.url }}">
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <div data-ng-repeat="section in project.description.sections">
                    <ul data-ng-if="section.isList">
                        <li data-ng-repeat="item in section.items"> {{ item }} </li>
                    </ul>
                    <p data-ng-if="section.isHeader" class="lead">{{ section.text }}</p>
                    <p data-ng-if="isString(section)">{{ section }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3>Technologies:</h3>
                <span class="badge" data-ng-repeat="technology in project.technologies" style="margin-right: 4px;"
                      data-ng-class="{'badge-language': technology.type === 'language',
                                                'badge-framework': technology.type === 'framework'
                                                }">
                    {{ technology.name }}
                </span>
            </div>
        </div>
    </div>
</div>