<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-3">

            <carousel data-ng-click="showProject(project)" id="project-carousel" interval="4000">
                <slide ng-repeat="slide in project.images" active="slide.active">
                    <img ng-src="{{imagePath + slide.url}}" style="margin:auto;">
                    <div class="carousel-caption">
                        <p>{{slide.text}}</p>
                    </div>
                </slide>
            </carousel>


        </div>
        <div class="col-xs-9">
            <h3 style="margin-top: 0.5em;">
                <a data-ng-click="showProject(project)"
                   data-ng-bind="project.name"
                   style="cursor: pointer;"></a>
            </h3>
            <p data-ng-bind="project.blurb"></p>
            <p>
                <a data-ng-if="project.liveLink"
                   data-ng-href="{{ project.liveLink }}"
                   class="btn btn-default"
                   title="View a demo of this project.">
                    <span class="fa fa-lg fa-desktop"></span> View Demo
                </a>
                <a data-ng-if="project.downloadLink"
                   data-ng-href="{{ project.downloadLink }}"
                   class="btn btn-default"
                   title="Download an executable of this project.">
                    <span class="fa fa-lg fa-download"></span> Download
                </a>
                <a data-ng-if="project.sourceLink"
                   data-ng-href="{{ project.sourceLink }}"
                   class="btn btn-default"
                   title="View this project's source code on GitHub.">
                    <span class="{{ project.sourceHostIcon }}"></span> View Source Code
                </a>
            </p>
            <p>
                 <span class="badge" data-ng-repeat="technology in project.technologies" style="margin-right: 4px;"
                       data-ng-class="{'badge-language': technology.type === 'language',
                                                'badge-framework': technology.type === 'framework'}">
                    {{ technology.name }}
                </span>
            </p>
        </div>
    </div>
</div>