<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Add a Channel</h3>
    </div>
    <div class="modal-body">


        <label>Channel to add</label>
        <input type="text" class="form-control" placeholder="Channel Name" ng-model="channel">

    </div>
    <div class="modal-footer text-center">
        <div class="btn btn-link pull-left" ng-click="cancel()">Cancel</div>
        <span>{{errorMessage}}</span>

        <div class="btn btn-success pull-right" ng-click="add()">Add</div>
    </div>
</div>