<div class="row">
    <div class="palepail-content">

        <h1>Commands available for {{channelName}} </h1>

        <hr>
        <div class="row col-xs-12" data-ng-repeat="listener in getChannelListeners(channel)">
            <h3>{{listener.name}}</h3>

            <div data-ng-repeat="command in listener.commands">
               <span class="label label-danger" data-ng-show="command.mod == 'true'">mod</span> <span data-ng-class="command.mod != 'true' ? 'palepail-command-indent' : ''"><b>{{command.name}}</b> - {{command.description}}</span>
            </div>
            <hr>
        </div>

    </div>
</div>