<div class="row">
    <div class="palepail-content">

        <h1>Palebot - Admin ({{twitchUser}}) <div class=" btn btn-info" data-ng-click="goToPalebotUser()">User View</div> </h1>

        <hr>
        <div class="row col-xs-12">
            <div class="col-xs-12">
                <h3>Toggle All
                    <div ng-disabled="loading" data-ng-click="toggleAllOn()"
                         class="btn btn-success">On
                    </div>
                    <div ng-disabled="loading" data-ng-click="toggleAllOff()" ng-show="palebotOn != 'true'"
                         class="btn btn-danger">Off
                    </div>
                </h3>

            </div>
            <div class="col-xs-8">

                <table class="table table-hover col-xs-12">
                    <tr>
                        <td class="col-xs-4">
                            <b>Actions</b>
                        </td>
                        <td class="col-xs-4">
                            <b>Channel Name</b>
                        </td>
                        <td class="col-xs-4">
                            <b>Listeners</b>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div ng-disabled="loading" class="btn btn-xs btn-success" data-ng-click="addChannel()"><span
                                    class="fa fa-plus"></span> Add
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr data-ng-repeat="channel in channels"
                        ng-class="channel.id == currentChannel.id ? 'success' : ''">
                        <td>
                            <div ng-disabled="loading" ng-show="channel.status == KEYS.CONNECTED"
                                 data-ng-click="palebotToggle(channel)"
                                 class="btn btn-sm btn-success">On
                            </div>
                            <div ng-disabled="loading" ng-show="channel.status !=  KEYS.CONNECTED"
                                 data-ng-click="palebotToggle(channel)"
                                 class="btn btn-sm btn-warning">Off
                            </div>
                            <div ng-disabled="loading" data-ng-click="changeCurrentChannel(channel)"
                                 class="btn btn-sm btn-info">Select
                            </div>

                            <div ng-disabled="loading" class="btn btn-sm btn-danger"
                                 data-ng-click="removeChannel(channel)">
                                Leave
                            </div>
                        </td>
                        <td>{{channel.name}}</td>
                        <td>
                            <span data-ng-repeat="listener in allListeners">

                                <div class="btn btn-success btn-xs" ng-disabled="loading"
                                     data-ng-click="toggleListenerOff(channel,listener)"
                                     ng-show="ifListenersContains(channel.listeners, listener)">
                                    {{listener.name}}
                                </div>
                                <div class="btn btn-danger btn-xs" ng-disabled="loading"
                                     data-ng-click="toggleListenerOn(channel,listener)"
                                     ng-show="!ifListenersContains(channel.listeners, listener)">
                                    {{listener.name}}
                                </div>

                            </span>

                        </td>
                    </tr>


                </table>

            </div>

            <div class="col-xs-4">
                <iframe src-refresh="chatChanged" frameborder="0" scrolling="no" id="chat_embed"
                        data-ng-src="{{currentChat}}" height="500"
                        width="350"></iframe>
            </div>
        </div>

    </div>
</div>