<div class="row">
    <div class="palepail-content">

        <h1>  <div ng-disabled="loading" ng-show="channel.status == KEYS.CONNECTED"
                   data-ng-click="palebotToggle(channel)"
                   class="btn btn-lg btn-success">On
        </div>
            <div ng-disabled="loading" ng-show="channel.status !=  KEYS.CONNECTED"
                 data-ng-click="palebotToggle(channel)"
                 class="btn btn-lg btn-warning">Off
            </div>Palebot - {{channel.name}}
            <div class=" btn btn-info" data-ng-show="admin" data-ng-click="goToPalebotAdmin()">Admin View</div>
            <div class="btn btn-default" data-ng-click="twitchLogout()">Logout</div>
            <div class="btn btn-default" data-ng-click="openSettings(channel)"><span class="fa fa-cog"> </span></div>
        </h1>
        <hr>
        <div class="col-md-12">
            <div class="col-md-8">
                <div ng-show="ifListenersContains(channel.listeners, 'YOUTUBE')" class="col-lg-12">
                    <div style="width: 650px" class="col-lg-9">
                    <youtube external-add="externalAdd"></youtube>
                    </div>
                    <div class="form form-inline col-lg-2">
                        <div class="form-group">
                            <label for="limit">Playlist Limit</label>
                            <input type="text" id="limit" class="form-control" style="width:100px" ng-model="playListLimit">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <iframe src-refresh="chatChanged" frameborder="0" scrolling="no" id="chat_embed"
                        data-ng-src="{{currentChat}}" height="500"
                        width="350"></iframe>

            </div>


        </div>

        <div data-ng-include="ListenerOptions.html"></div>

        <div class="palepail-content">

            <div class="btn btn-success" ng-show="ifListenersContains(channel.listeners, 'ANIME')" data-ng-click="openWaifuCP()">Waifu</div>
        </div>


    </div>
</div>