<div class="row">
    <div class="palepail-content">
        <h1>Palebot Version 3.0 </h1>
        <hr>
        <div class="row col-xs-12">
            <div class="btn btn-lg">User</div>
        </div>
    </div>
</div>