<div class="modal-header">
    <h3 class="modal-title">Settings
        <div ng-disabled="loading" class="btn btn-sm btn-danger"
             data-ng-click="removeChannel(channel)"
             tooltip="Remove your channel from palebot"
             tooltip-placement="right">
            Leave
        </div>

    </h3>
    <span ng-show="showLeaveMessage">TEST</span>
</div>
<div class="modal-body" style="min-height: 400px">
    <div class="col-xs-8">
        <div class="text-left"><b>Info</b></div>
        <hr>
        <div ng-show=" listenerInfo == 'DEFAULT' ">
            <p>The Default Listener handles basic commands such as</p>

            <ul>
                <li>
                    <p>!pailbot</p>
                </li>
                <li>
                    <p>!dice</p>
                </li>
                <li>
                    <p>!custom (add) (delete)</p>
                </li>
                <li>
                    <p>!custom all</p>
                </li>
            </ul>

            <p>The !custom command lets you create your own commands. For typing &quot;!custom (!hello) Hello World!&quot; will create the command !hello for you to use in your channel that will have palebot say &quot;Hello World!&quot;. Creating a&nbsp;command with an existing trigger will overwrite it. Typing&nbsp;&quot;!custom delete (!hello)&quot; will delete the trigger above.&nbsp;&nbsp;&nbsp;</p>

        </div>
        <div ng-show=" listenerInfo == 'ANIME' ">
            <p>The Anime Listener lets users post and use commands relating to &quot;waifu.&quot; These include</p>

            <ul>
                <li>
                  !waifu (add) (search) (best) (worst)
                </li>
                <li>
                   !waifu fight *Mod Only
                </li>
                <li>
                   !waifu slap (LINK) *Mod Only
                </li>
                <li>
                    !thirst
                </li>
                <li>
                   !thirstiest
                </li>
            </ul>

            <p>Waifu Fight starts a contest between two random waifu in which users can vote. The winner will be rewarded a point.</p>

            <p>&quot;!waifu best&quot; displays the waifu witht he most or tied for most points</p>

            <p>&quot;!waifu worst&quot; displays the waifu with the least or tied for least points</p>

        </div>
        <div ng-show=" listenerInfo == 'YOUTUBE' ">
            <p>The Youtube Listener lets users queue up youtube videos using the command</p>
            <ul>
                <li>
                    <p>!request CODE</p>
                </li>
                <li>
                    <p>!song</p>
                </li>
            </ul>
            <p>The video will automatically play the next in queue unless the video is stopped. You can click on a video in the queue to play that one immidately, this does not change the order of the queue otherwise.</p>
        </div>
        </div>
    <div class="col-xs-4">
        <div class="text-center"><b>Listeners</b></div>
        <hr>
         <span data-ng-repeat="listener in allListeners">
                        <div class="btn btn-success btn-xs" ng-disabled="loading"
                             data-ng-click="toggleListenerOff(channel,listener)"
                             ng-show="ifListenersContains(channel.listeners, listener.name)"
                             ng-mouseover="setInfo(listener.name)"
                             ng-mouseleave="setInfo()">
                            {{listener.name}}
                        </div>
                                <div class="btn btn-danger btn-xs" ng-disabled="loading"
                                     data-ng-click="toggleListenerOn(channel,listener)"
                                     ng-show="!ifListenersContains(channel.listeners, listener.name)"
                                     ng-mouseover="setInfo(listener.name)"
                                     ng-mouseleave="setInfo()">
                                    {{listener.name}}
                                </div>

                            </span>
        </div>

    </div>
</div>

<div class="modal-footer">
    <div class="btn btn-info pull-right" ng-click="close()">Close</div>
</div>

