<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Waifu Control Panel</h3>
    </div>
    <div class="modal-body">
        <div class="input-group margin-bottom-sm pull-right col-xs-3">
            <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
            <input  ng-model="searchCriteria" class="form-control" type="text" placeholder="Search">
        </div>
        <table class="table table-responsive">
            <tr>
                <td><b>Actions</b></td>
                <td>
                    <b>Image</b>
                </td>
                <td><b>Name</b></td>
                <td><b>Link</b></td>
                <td><b>Uploader</b></td>
            </tr>
            <tr data-ng-repeat="waifu in filtered = paginate((channelWaifu | filter: searchCriteria) )" data-ng-class="waifu.DELETE == true ? 'danger' : ''">
                <td>
                    <div data-ng-show="waifu.DELETE == false || !waifu.hasOwnProperty('DELETE')" class="btn btn-xs btn-danger" data-ng-click="toggleDelete(waifu)"><span class="fa fa-ban"></span></div>
                    <div data-ng-show="waifu.DELETE == true" class="btn btn-xs btn-success" data-ng-click="toggleDelete(waifu)"><span class="fa fa-undo"></span></div>
                    <div class="btn btn-xs btn-info" data-ng-click="edit.id = waifu.id"><span class="fa fa-pencil"></span></div>
                </td>
                <td>
                    <picture>
                        <a href="{{waifu.link}}"><img src="{{waifu.link}}" alt="waifu.name"
                                                      style="width: 30px; height: 30px;"></a>
                    </picture>
                </td>
                <td>
                    <div data-ng-hide="waifu.id == edit.id">{{waifu.name}}</div>
                    <input type="text" ng-model="waifu.name" class="form-control" data-ng-show="waifu.id == edit.id"/>
                </td>
                <td>
                    <div data-ng-hide="waifu.id == edit.id">{{waifu.link}}</div>
                    <input type="text" ng-model="waifu.link" class="form-control" data-ng-show="waifu.id == edit.id"/>
                </td>
                <td>
                    <div data-ng-hide="waifu.id == edit.id">{{waifu.uploader}}</div>
                    <input type="text" ng-model="waifu.uploader" class="form-control" data-ng-show="waifu.id == edit.id"/>
                </td>
            </tr>
        </table>
        <pagination
                ng-model="currentPage"
                total-items="channelWaifu.length"
                max-size="maxDisplayedPages"
                items-per-page="maxPerPage"
                boundary-links="false"
                class="pull-right"
                style="margin: 0px">
        </pagination>

        <div class="btn btn-link" data-ng-click="cancel()">Close</div>
        <div class="btn btn-success" data-ng-show="edit.id || edit.deleting.length>0" data-ng-click="saveWaifu()">Save</div>

    </div>

</div>