<div id="footer" class="palepail-footer">
    <div class="container text-center">
        <hr>
        <p>Copyright &copy; 2015 Derek Kam &middot; All Rights Reserved &middot; Trademarks are properties of their respective owners.</p>
    </div>
</div>